<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <appSettings>
    <add key="ktDomain" value="" />
    <!-- xxx is domain that in https://xxx.cybozu.com -->

    <add key="ktLoginId" value="" />
    <!-- kintone id  -->
    <add key="ktLoginPassword" value="" />
    <!-- kintone password -->


    <add key="AppId_Group" value="" />
    <!-- application id (as you like) -->
    <add key="AppId_Member" value="" />
    <add key="AppId_LicenseList" value=""/>
    <add key="AppId_InoutList" value="" />

    <add key="InText" value="入室"/>
    <add key="OutText" value="退室"/>


  </appSettings>
  
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>